.o_form_view {
    // Translate icon when not editing
    .o_field_enforced_noedit {
        vertical-align: top;
        &.o_translate_active {
            display: content;
        }
    }
    .o_form_field.o_form_invisible + .o_field_translate {
        display: none;
    }

}
